<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>tumblr – index</title>

  <link rel="stylesheet" href="/node_modules/tumblr-theme/dist/index.css">
</head>


<body>
  <header class="header">
    <h1 class="header__title"><a class="header__logo" href=""></a></h1>
  </header>


  <main class="main">
    <div class="posts g-row">
      <% for(var i = 0; i < images.length; i++) {%>
      <div class="post">
        <img class="post__image" src="/images/<%= images[i] %>">
        <div class="post__overlay">
          <ul class="post__actions">
            <li><a class="icon icon--heart" href="javascript:"></a></li>
            <li><a class="icon icon--reblog" href="javascript:"></a></li>
            <li><a class="icon icon--link" href="javascript:"></a></li>
            <li><a class="icon icon--bolt" href="javascript:"></a></li>
          </ul>
        </div>
      </div>
      <% } %>
    </div>
  </main>


  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/tumblr-theme/dist/event-emitter.min.js"></script>
  <script src="/node_modules/tumblr-theme/dist/jquery-imagesready.min.js"></script>
  <script src="/node_modules/tumblr-theme/dist/infinite-scroll.min.js"></script>
  <!--[if lt IE 10]>
  <script src="/node_modules/tumblr-theme/dist/match-media.min.js"></script>
  <![endif]-->
  <script src="/node_modules/tumblr-theme/dist/quartz.min.js"></script>
  <script src="/node_modules/tumblr-theme/dist/main.js"></script>
</body>
</html>
