//===================================================================
//  SETTINGS
//===================================================================

$breakpoints: (
  small  : 0,
  medium : 600px,
  large  : 800px
) !default;

$base-background-color: #fff !default;
$base-font-family: 'Helvetica Neue', monospace !default;
$base-font-size: 14px !default;
