//===================================================================
//  SETTINGS
//===================================================================

$base-background-color: #f4f3f3 !default;
$base-font-family: 'Courier', monospace !default;
$base-font-size: 14px !default;
