//===================================================================
//  SETTINGS
//===================================================================

$breakpoints: (
  small  : 0,
  medium : 600px,
  large  : 800px
) !default;

$base-background-color: #fff !default;
$base-font-color: #333 !default;
$base-font-family: 'aktiv-grotesk-std', 'Helvetica Neue', 'Arial', sans-serif !default;
$base-font-size: 14px !default;
