//===================================================================
//  COMMON
//===================================================================
@import
"./settings",
"minx/src/settings",
"minx/src/functions",
"minx/src/mixins",
"minx/src/reset",
"minx/src/elements/html",
"minx/src/elements/body",
"minx/src/elements/a",
"minx/src/elements/img",
"fonts",
"header",
"icons",
"main",
"pagination";


a {
  outline: none;
}


::selection {
  color: #333;
  background: rgba(0,0,0,0.08);
}
