//===================================================================
//  INDEX VIEW
//===================================================================
@import "imports";


.g-row {
  @include grid-row(1170px);
}


.g-col {
  @include grid-column;
  width: 100%;

  @include media-query(medium) {
    width: grid-column-width(1, 2);
  }

  @include media-query(large) {
    width: grid-column-width(1, 3);
  }
}


.posts {
  display: none;
}


.post {
  position: relative;
  margin-bottom: $grid-gutter-size;
  overflow: hidden;
  background: #fff;

  &:hover .post__overlay {
    opacity: 1;
  }
}


.post__overlay {
  @include flex-center-all;
  @include prefix(transition, opacity 180ms ease-in-out, webkit);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, .75);
}


.post__actions {
  @include display-flex;
  font-size: 20px;
  list-style-type: none;
  pointer-events: auto;

  li {
    position: relative;
  }
}


$icon-dot: url('http://static.tumblr.com/gpf0ro1/mumnql4s6/dot-4x4.svg') 50% top no-repeat;

.icon {
  @include fa-icon-base;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: $icon-dot;
  }
}


.icon--bolt {
  @include fa-icon(bolt);
}


.icon--heart {
  @include fa-icon(heart);
  @include prefix(transition, color 100ms ease-in-out, webkit);
  padding-top: 1px;
}


.icon--link {
  @include fa-icon(link);
  padding-top: 1px;
}


.icon--reblog {
  @include fa-icon(recycle);
  padding-top: 2px;
}


.like_button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 50px;
  height: 50px;
  opacity: 0;

  &:hover + .icon--heart {
    background: $icon-dot;
  }

  &.liked + .icon--heart {
    color: #d75f45;
  }
}
