//===================================================================
//  PERMALINK VIEW
//===================================================================
@import "common";


.g-row {
  @include grid-row(855px);
}


.g-col {
  @include grid-column;
  width: 100%;
}


@include media-query(medium) {
  @include width-classes(3, md-);
}


.post {
  overflow: hidden;
}


.post--photoset {
  .post__image {
    margin-bottom: 10px;
  }
}


.post__meta {
  margin-bottom: 3em;

  @include media-query($max: medium) {
    padding-top: 2em;
  }

  dt {
    margin-top: 3em;
    border-top: 1px solid #ccc;
    padding-top: .75em;
    font-size: rem(11px);
    font-weight: 700;
    line-height: (19px / 11px);

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    line-height: (19px / $base-font-size);
    color: #666;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}


.post__actions {
  display: flex;
  margin-left: -15px;
  font-size: 20px;
  list-style-type: none;
  pointer-events: auto;

  li {
    position: relative;
  }
}


.icon {
  @include fa-icon-base;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #ccc;
  text-align: center;
  text-decoration: none;
}


.icon--bolt {
  @include fa-icon(bolt);
}


.icon--follow {
  @include fa-icon(plus);
}


.icon--heart {
  @include fa-icon(heart);
}


.icon--pinterest {
  @include fa-icon(pinterest-p);
}


.icon--reblog {
  @include fa-icon(recycle);
  padding-top: 1px;
}


.icon--twitter {
  @include fa-icon(twitter);
  font-size: 21px;
}


@keyframes heart {
  0% {
    font-size: 1px;
  }

  100% {
    font-size: 20px;
  }
}


.like_button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  width: 50px;
  height: 50px;
  opacity: 0;

  &.liked + .icon--heart {
    color: #d75f45;
    animation: heart 200ms ease-in-out;
  }
}


#tumblr_controls.tumblr_controls {
  display: none;
}
